@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    border-radius:20px;background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    font-family: 'Inter', sans-serif;
    font-weight:lighter;
    color:white;
    #pomodoro{
        display:flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left:25%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        #projectName{
            margin-bottom:12em;
        }
        #break-session{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width:50vw;
            margin-bottom:3em;
            margin-top:-8em;
            #break{

                #break-content{
                    margin-top:20px;
                    display:flex;
                    justify-content: space-evenly;
                    align-items: center;
                    //max-width:50%;
                    font-size:1.5em;
                    button{
                        width: 20px;
                        border:white solid;
                        color:white;
                        background-color:darkslategrey;
                        &:active{
                            background-color:green;                            
                        }
                    }
                }
            }
            #session{

                #session-content{
                    margin-top:20px;
                    display:flex;
                    justify-content: space-evenly;
                    align-items: center;
                    //max-width:50%;
                    font-size:1.5em;
                    button{
                        width: 20px;
                        border:white solid;
                        color:white;
                        border-radius:50%;
                        background-color:darkslategrey;
                        &:active{
                            background-color:green;                           
                        }
                    }
                }
            }
        }
        #timer{
            text-align:center;
            font-size:1.3em;
            border:solid;
            width:200px;
            padding:30px;
            border-radius:20px;background: #0F2027; 
            background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
            background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
            #time-left{
                font-size:32px;
            }
        }
        #timer-controls{
            margin-top:1em;
            button{
                padding:5px;
                border-radius:5px;
                font-weight:bold;
                border:white solid;
                color:white;
                background-color:darkslategrey;
                &:active{
                    background-color:green;            
                }
            }
        }
    }
}   