@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  border: unset !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background: crimson !important;
}

button:hover {
  cursor: pointer;
  background-color: darkred !important;
  -webkit-transition: .5s;
  transition: .5s;
}

button:not(#start_stop, #reset):hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background: #ff4e50;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  text-shadow: 1px 1px black;
  color: white;
}

body #pomodoro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body #pomodoro #projectName h1 {
  font-size: 2.5em;
  border-bottom: 3px solid white !important;
  -webkit-box-shadow: black 0px 1px;
          box-shadow: black 0px 1px;
}

body #pomodoro #break-session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10em;
  width: 60vw;
  padding-bottom: 7em;
}

body #pomodoro #break-session #break h3 {
  font-size: 1.7em;
}

body #pomodoro #break-session #break #break-content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}

body #pomodoro #break-session #break #break-content button {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: white solid;
  color: white;
  background: #FF4E50;
  /* fallback for old browsers */
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body #pomodoro #break-session #break #break-content button:active {
  background-color: green;
}

body #pomodoro #break-session #session h3 {
  font-size: 1.7em;
}

body #pomodoro #break-session #session #session-content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}

body #pomodoro #break-session #session #session-content button {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: white solid;
  color: white;
  border-radius: 50%;
  background-color: darkslategrey;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body #pomodoro #break-session #session #session-content button:active {
  background-color: green;
}

body #pomodoro #timer {
  text-align: center;
  font-size: 2.2em;
  margin-top: 2em;
  border: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  padding: 30px;
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
  border-radius: 20px;
  background: #fffbd5;
  border: unset;
  background: -webkit-gradient(linear, left top, right top, from(#b20a2c), to(#fffbd5));
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body #pomodoro #timer #time-left {
  font-size: 1.2em;
}

body #pomodoro #timer-controls button {
  padding: 3px 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: white;
  background-color: darkslategrey;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body #pomodoro #timer-controls button:active {
  background-color: green;
}

@media only screen and (max-width: 900px) {
  * {
    margin: 0 !important;
  }
  body #pomodoro {
    top: 0%;
    -webkit-transform: none;
            transform: none;
  }
  body #pomodoro #break-session {
    margin-top: 2em !important;
    padding-bottom: 3em;
    font-size: 14px;
    width: 70vw !important;
  }
  body #pomodoro #timer {
    margin-top: 50px !important;
    width: 80vw;
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */